<ul class="nav nav-tabs">
  {{#if details.incidents.length}}
    <li class="nav-item">
      <a
        {{action "changeTab" "incidents"}}
        class="nav-link {{if (eq activeTab 'incidents') 'active'}}"
        href="#"
      >
        Incidents
      </a>
    </li>
  {{/if}}
  {{#if
    (and
      block.userOptions.doXqlQueries
      (or details.xqlQueryResults.length details.xqlQueryJobId)
    )
  }}
    <li class="nav-item">
      <a
        {{action "changeTab" "xqlQueryResult"}}
        class="nav-link {{if (eq activeTab 'xqlQueryResult') 'active'}}"
        href="#"
      >
        XQL Query Result
        {{#if getXqlQueryResultsIsRunning}}
          {{fa-icon "spinner-third" fixedWidth=true spin=true}}
        {{/if}}
      </a>
    </li>
  {{/if}}
</ul>

{{#if (eq activeTab "incidents")}}
  {{#each details.incidents as |incident incidentsIndex|}}
    <div>
      {{#if (gt incidentsIndex 0)}}
        <hr />
      {{/if}}
      <h1 class="p-title">
        {{#if incident.incident_name}}
          {{incident.incident_name}}
        {{else}}
          ID-{{incident.incident_id}}
        {{/if}}
      </h1>

      {{#if incident.xdr_url}}
        <div class="p-link">
          <a href="{{incident.xdr_url}}">View Incident in Cortex XDR
            {{fa-icon
              "external-link-square"
              class="external-link-icon"
              fixedWidth=true
            }}</a>
        </div>
      {{/if}}

      {{#if incident.incident_id}}
        <div class="p-link">
          <a
            href="{{details.dashboardUrl}}/incident-view/alerts_and_insights?caseId={{incident.incident_id}}"
          >View Alerts in Cortex XDR
            {{fa-icon
              "external-link-square"
              class="external-link-icon"
              fixedWidth=true
            }}</a>
        </div>
      {{/if}}
      {{#if incident.alert_count}}
        <div>
          <span class="p-key">Related Alerts:</span>
          <span class="p-value">{{incident.alert_count}}</span>
        </div>
      {{/if}}
      {{#if incident.description}}
        <div>
          <span class="p-key">Description:</span>
          <span class="p-value">{{incident.description}}</span>
        </div>
      {{/if}}
      {{#if incident.status}}
        <div>
          <span class="p-key">Status:</span>
          <span class="p-value">{{incident.status}}</span>
        </div>
      {{/if}}
      {{#if incident.severity}}
        <div>
          <span class="p-key">Severity:</span>
          <span class="p-value">{{incident.severity}}</span>
        </div>
      {{/if}}
      {{#if (or incident.assigned_user_mail incident.assigned_user_pretty_name)}}
        <div>
          <span class="p-key">Assigned:</span>
          <span class="p-value">
            {{#if (and incident.assigned_user_mail incident.assigned_user_pretty_name)}}
              {{incident.assigned_user_pretty_name}}
              ({{incident.assigned_user_mail}})
            {{else}}
              {{or incident.assigned_user_mail incident.assigned_user_pretty_name}}
            {{/if}}</span>
        </div>
      {{/if}}

      {{#if incident.incident_sources}}
        <div>
          <span class="p-key">Sources:</span>
          <span class="p-value">{{join ", " incident.incident_sources}}</span>
        </div>
      {{/if}}
      {{#if incident.creation_time}}
        <div>
          <span class="p-key">Created At:</span>
          <span class="p-value">{{moment-format
              incident.creation_time
              "MM-DD-YYYY HH:mm:ss z"
              timeZone=timezone
            }}</span>
        </div>
      {{/if}}
      {{#if incident.modification_time}}
        <div>
          <span class="p-key">Last Modified At:</span>
          <span class="p-value">{{moment-format
              incident.modification_time
              "MM-DD-YYYY HH:mm:ss z"
              timeZone=timezone
            }}</span>
        </div>
      {{/if}}
      {{#if incident.alert_categories}}
        <div>
          <span class="p-key">Categories:</span>
          <span class="p-value">{{join ", " incident.alert_categories}}</span>
        </div>
      {{/if}}
      {{#if incident.tags}}
        <div>
          <span class="p-key">Tags:</span>
          <span class="p-value">{{join ", " incident.tags}}</span>
        </div>
      {{/if}}
    </div>
  {{/each}}
{{/if}}

{{#if (eq activeTab "xqlQueryResult")}}
  <div>
    {{#if (not xqlResultsObtained)}}
      {{#if xqlQueryDisplayString}}
        <div class="xql-query-info">
          {{xqlQueryDisplayString}}
        </div>
      {{/if}}
      {{#if details.queryFailed}}
        <div class="d-flex flex-row justify-content-between align-items-center">
          <button
            {{action "searchXqlQuery"}}
            class="xql-refresh-button"
            disabled={{searchXqlQueryIsRunning}}
          >
            {{#if searchXqlQueryIsRunning}}
              {{fa-icon "spinner-third" fixedWidth=true spin=true}}
            {{else}}
              Run XQL Query
            {{/if}}
          </button>
        </div>
        <div class="d-flex flex-row align-items-center justify-content-start mt-2">
          {{#if searchXqlQueryErrorMessage}}
            <div class="alert alert-danger">
              {{searchXqlQueryErrorMessage}}
            </div>
          {{/if}}
        </div>
      {{else}}
        <div class="d-flex flex-row justify-content-between align-items-center">
          <button
            {{action "getXqlQueryResults"}}
            class="xql-refresh-button"
            disabled={{or
              getXqlQueryResultsIsRunning
              block.isLoadingDetails
              details.queryFailed
            }}
          >
            {{#if getXqlQueryResultsIsRunning}}
              {{fa-icon "spinner-third" fixedWidth=true spin=true}}
            {{else}}
              Check Query Status
            {{/if}}
          </button>
        </div>
        <div class="d-flex flex-row align-items-center justify-content-start mt-2">
          {{#if getXqlQueryResultsSuccessMessage}}
            <div class="alert alert-info">
              {{getXqlQueryResultsSuccessMessage}}
            </div>
          {{/if}}
          {{#if details.getXqlQueryResultsErrorMessage}}
            <div class="alert alert-danger">
              {{details.getXqlQueryResultsErrorMessage}}
            </div>
          {{/if}}
        </div>
      {{/if}}
    {{else}}
      {{#if (not details.xqlQueryResults)}}
        <pre class="xql-query-info">No Results Found</pre>
      {{else}}
        <div class="xql-query-results">
          {{#each details.xqlQueryResults as |xqlQueryResult index|}}
            {{#if (gt index 0)}}
              <hr />
            {{/if}}
            <div class="xql-query-result">
              {{#if xqlQueryResult._time}}
                <div>
                  <span class="p-key">{{titleize (humanize (dasherize "_time"))}}:</span>
                  <span class="p-value">{{moment-format
                      xqlQueryResult._time
                      "MM-DD-YYYY HH:mm:ss z"
                      timeZone=timezone
                    }}</span>
                </div>
              {{/if}}

              {{#if
                (and
                  xqlQueryResult.agent_hostname
                  (not (eq xqlQueryResult.agent_hostname "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "agent_hostname"))
                    }}:</span>
                  <span class="p-value">{{xqlQueryResult.agent_hostname}}</span>
                </div>
              {{/if}}
              {{#if
                (and
                  xqlQueryResult.agent_ip_addresses
                  (not (eq xqlQueryResult.agent_ip_addresses "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "agent_ip_addresses"))
                    }}:</span>
                  <span class="p-value">{{join
                      ", "
                      xqlQueryResult.agent_ip_addresses
                    }}</span>
                </div>
              {{/if}}
              {{#if (and xqlQueryResult.mac (not (eq xqlQueryResult.mac "NULL")))}}
                <div>
                  <span class="p-key">{{titleize (humanize (dasherize "mac"))}}:</span>
                  <span class="p-value">{{xqlQueryResult.mac}}</span>
                </div>
              {{/if}}
              {{#if
                (and
                  xqlQueryResult.actor_effective_normalized_user
                  (not (eq xqlQueryResult.actor_effective_normalized_user "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "actor_effective_normalized_user"))
                    }}:</span>
                  <span
                    class="p-value"
                  >{{xqlQueryResult.actor_effective_normalized_user}}</span>
                </div>
              {{/if}}
              {{#if
                (and
                  xqlQueryResult.actor_process_image_name
                  (not (eq xqlQueryResult.actor_process_image_name "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "actor_process_image_name"))
                    }}:</span>
                  <span class="p-value">{{xqlQueryResult.actor_process_image_name}}</span>
                </div>
              {{/if}}
              {{#if
                (and
                  xqlQueryResult.actor_process_image_path
                  (not (eq xqlQueryResult.actor_process_image_path "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "actor_process_image_path"))
                    }}:</span>
                  <span class="p-value">{{xqlQueryResult.actor_process_image_path}}</span>
                </div>
              {{/if}}
              {{#if
                (and
                  xqlQueryResult.actor_process_command_line
                  (not (eq xqlQueryResult.actor_process_command_line "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "actor_process_command_line"))
                    }}:</span>
                  <span
                    class="p-value"
                  >{{xqlQueryResult.actor_process_command_line}}</span>
                </div>
              {{/if}}
              {{#if
                (and
                  xqlQueryResult.actor_process_os_pid
                  (not (eq xqlQueryResult.actor_process_os_pid "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "actor_process_os_pid"))
                    }}:</span>
                  <span class="p-value">{{xqlQueryResult.actor_process_os_pid}}</span>
                </div>
              {{/if}}
              {{#if
                (and
                  xqlQueryResult.actor_process_signature_vendor
                  (not (eq xqlQueryResult.actor_process_signature_vendor "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "actor_process_signature_vendor"))
                    }}:</span>
                  <span
                    class="p-value"
                  >{{xqlQueryResult.actor_process_signature_vendor}}</span>
                </div>
              {{/if}}
              {{#if
                (and
                  xqlQueryResult.actor_process_signature_status
                  (not (eq xqlQueryResult.actor_process_signature_status "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "actor_process_signature_status"))
                    }}:</span>
                  <span
                    class="p-value"
                  >{{xqlQueryResult.actor_process_signature_status}}</span>
                </div>
              {{/if}}
              {{#if
                (and
                  xqlQueryResult.causality_actor_process_image_name
                  (not (eq xqlQueryResult.causality_actor_process_image_name "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "causality_actor_process_image_name"))
                    }}:</span>
                  <span
                    class="p-value"
                  >{{xqlQueryResult.causality_actor_process_image_name}}</span>
                </div>
              {{/if}}
              {{#if
                (and
                  xqlQueryResult.causality_actor_process_image_path
                  (not (eq xqlQueryResult.causality_actor_process_image_path "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "causality_actor_process_image_path"))
                    }}:</span>
                  <span
                    class="p-value"
                  >{{xqlQueryResult.causality_actor_process_image_path}}</span>
                </div>
              {{/if}}
              {{#if
                (and
                  xqlQueryResult.causality_actor_process_command_line
                  (not (eq xqlQueryResult.causality_actor_process_command_line "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "causality_actor_process_command_line"))
                    }}:</span>
                  <span
                    class="p-value"
                  >{{xqlQueryResult.causality_actor_process_command_line}}</span>
                </div>
              {{/if}}
              {{#if
                (and
                  xqlQueryResult.causality_actor_process_os_pid
                  (not (eq xqlQueryResult.causality_actor_process_os_pid "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "causality_actor_process_os_pid"))
                    }}:</span>
                  <span
                    class="p-value"
                  >{{xqlQueryResult.causality_actor_process_os_pid}}</span>
                </div>
              {{/if}}
              {{#if
                (and
                  xqlQueryResult.causality_actor_process_image_sha256
                  (not (eq xqlQueryResult.causality_actor_process_image_sha256 "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "causality_actor_process_image_sha256"))
                    }}:</span>
                  <span
                    class="p-value"
                  >{{xqlQueryResult.causality_actor_process_image_sha256}}</span>
                </div>
              {{/if}}
              {{#if
                (and
                  xqlQueryResult.causality_actor_process_image_md5
                  (not (eq xqlQueryResult.causality_actor_process_image_md5 "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "causality_actor_process_image_md5"))
                    }}:</span>
                  <span
                    class="p-value"
                  >{{xqlQueryResult.causality_actor_process_image_md5}}</span>
                </div>
              {{/if}}
              {{#if
                (and
                  xqlQueryResult.causality_actor_process_signature_vendor
                  (not
                    (eq xqlQueryResult.causality_actor_process_signature_vendor "NULL")
                  )
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "causality_actor_process_signature_vendor"))
                    }}:</span>
                  <span
                    class="p-value"
                  >{{xqlQueryResult.causality_actor_process_signature_vendor}}</span>
                </div>
              {{/if}}
              {{#if
                (and
                  xqlQueryResult.causality_actor_process_signature_status
                  (not
                    (eq xqlQueryResult.causality_actor_process_signature_status "NULL")
                  )
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "causality_actor_process_signature_status"))
                    }}:</span>
                  <span
                    class="p-value"
                  >{{xqlQueryResult.causality_actor_process_signature_status}}</span>
                </div>
              {{/if}}
              {{#if
                (and
                  xqlQueryResult.causality_actor_type
                  (not (eq xqlQueryResult.causality_actor_type "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "causality_actor_type"))
                    }}:</span>
                  <span class="p-value">{{xqlQueryResult.causality_actor_type}}</span>
                </div>
              {{/if}}
              {{#if
                (and
                  xqlQueryResult.os_actor_process_image_name
                  (not (eq xqlQueryResult.os_actor_process_image_name "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "os_actor_process_image_name"))
                    }}:</span>
                  <span
                    class="p-value"
                  >{{xqlQueryResult.os_actor_process_image_name}}</span>
                </div>
              {{/if}}
              {{#if
                (and
                  xqlQueryResult.os_actor_process_image_path
                  (not (eq xqlQueryResult.os_actor_process_image_path "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "os_actor_process_image_path"))
                    }}:</span>
                  <span
                    class="p-value"
                  >{{xqlQueryResult.os_actor_process_image_path}}</span>
                </div>
              {{/if}}
              {{#if
                (and
                  xqlQueryResult.os_actor_process_image_md5
                  (not (eq xqlQueryResult.os_actor_process_image_md5 "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "os_actor_process_image_md5"))
                    }}:</span>
                  <span
                    class="p-value"
                  >{{xqlQueryResult.os_actor_process_image_md5}}</span>
                </div>
              {{/if}}
              {{#if
                (and
                  xqlQueryResult.os_actor_process_image_sha256
                  (not (eq xqlQueryResult.os_actor_process_image_sha256 "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "os_actor_process_image_sha256"))
                    }}:</span>
                  <span
                    class="p-value"
                  >{{xqlQueryResult.os_actor_process_image_sha256}}</span>
                </div>
              {{/if}}
              {{#if
                (and
                  xqlQueryResult.os_actor_process_command_line
                  (not (eq xqlQueryResult.os_actor_process_command_line "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "os_actor_process_command_line"))
                    }}:</span>
                  <span
                    class="p-value"
                  >{{xqlQueryResult.os_actor_process_command_line}}</span>
                </div>
              {{/if}}
              {{#if
                (and
                  xqlQueryResult.os_actor_process_os_pid
                  (not (eq xqlQueryResult.os_actor_process_os_pid "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "os_actor_process_os_pid"))
                    }}:</span>
                  <span class="p-value">{{xqlQueryResult.os_actor_process_os_pid}}</span>
                </div>
              {{/if}}
              {{#if
                (and
                  xqlQueryResult.action_remote_process_image_path
                  (not (eq xqlQueryResult.action_remote_process_image_path "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "action_remote_process_image_path"))
                    }}:</span>
                  <span
                    class="p-value"
                  >{{xqlQueryResult.action_remote_process_image_path}}</span>
                </div>
              {{/if}}
              {{#if
                (and
                  xqlQueryResult.action_remote_process_image_name
                  (not (eq xqlQueryResult.action_remote_process_image_name "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "action_remote_process_image_name"))
                    }}:</span>
                  <span
                    class="p-value"
                  >{{xqlQueryResult.action_remote_process_image_name}}</span>
                </div>
              {{/if}}
              {{#if
                (and
                  xqlQueryResult.action_remote_process_image_md5
                  (not (eq xqlQueryResult.action_remote_process_image_md5 "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "action_remote_process_image_md5"))
                    }}:</span>
                  <span
                    class="p-value"
                  >{{xqlQueryResult.action_remote_process_image_md5}}</span>
                </div>
              {{/if}}
              {{#if
                (and
                  xqlQueryResult.action_remote_process_image_sha256
                  (not (eq xqlQueryResult.action_remote_process_image_sha256 "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "action_remote_process_image_sha256"))
                    }}:</span>
                  <span
                    class="p-value"
                  >{{xqlQueryResult.action_remote_process_image_sha256}}</span>
                </div>
              {{/if}}
              {{#if
                (and
                  xqlQueryResult.action_remote_process_image_command_line
                  (not
                    (eq xqlQueryResult.action_remote_process_image_command_line "NULL")
                  )
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "action_remote_process_image_command_line"))
                    }}:</span>
                  <span
                    class="p-value"
                  >{{xqlQueryResult.action_remote_process_image_command_line}}</span>
                </div>
              {{/if}}
              {{#if
                (and
                  xqlQueryResult.agent_install_type
                  (not (eq xqlQueryResult.agent_install_type "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "agent_install_type"))
                    }}:</span>
                  <span class="p-value">{{xqlQueryResult.agent_install_type}}</span>
                </div>
              {{/if}}

              <br />

              {{#if
                (and
                  xqlQueryResult.event_type (not (eq xqlQueryResult.event_type "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "event_type"))
                    }}:</span>
                  <span class="p-value">{{xqlQueryResult.event_type}}</span>
                </div>
              {{/if}}
              {{#if
                (and xqlQueryResult._vendor (not (eq xqlQueryResult._vendor "NULL")))
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "_vendor"))
                    }}:</span>
                  <span class="p-value">{{xqlQueryResult._vendor}}</span>
                </div>
              {{/if}}
              {{#if
                (and xqlQueryResult._product (not (eq xqlQueryResult._product "NULL")))
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "_product"))
                    }}:</span>
                  <span class="p-value">{{xqlQueryResult._product}}</span>
                </div>
              {{/if}}
              {{#if
                (and
                  xqlQueryResult.association_strength
                  (not (eq xqlQueryResult.association_strength "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "association_strength"))
                    }}:</span>
                  <span class="p-value">{{xqlQueryResult.association_strength}}</span>
                </div>
              {{/if}}
              {{#if
                (and
                  xqlQueryResult.story_version
                  (not (eq xqlQueryResult.story_version "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "story_version"))
                    }}:</span>
                  <span class="p-value">{{xqlQueryResult.story_version}}</span>
                </div>
              {{/if}}
              {{#if
                (and
                  xqlQueryResult.is_disintegrated
                  (not (eq xqlQueryResult.is_disintegrated "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "is_disintegrated"))
                    }}:</span>
                  <span class="p-value">{{xqlQueryResult.is_disintegrated}}</span>
                </div>
              {{/if}}
              {{#if
                (and
                  xqlQueryResult.is_internal_ip
                  (not (eq xqlQueryResult.is_internal_ip "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "is_internal_ip"))
                    }}:</span>
                  <span class="p-value">{{xqlQueryResult.is_internal_ip}}</span>
                </div>
              {{/if}}

              {{#if xqlQueryResult.event_timestamp}}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "event_timestamp"))
                    }}:</span>
                  <span class="p-value">{{moment-format
                      xqlQueryResult.event_timestamp
                      "MM-DD-YYYY HH:mm:ss z"
                      timeZone=timezone
                    }}</span>
                </div>
              {{/if}}
              {{#if xqlQueryResult.insert_timestamp}}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "insert_timestamp"))
                    }}:</span>
                  <span class="p-value">{{moment-format
                      xqlQueryResult.insert_timestamp
                      "MM-DD-YYYY HH:mm:ss z"
                      timeZone=timezone
                    }}</span>
                </div>
              {{/if}}
              {{#if xqlQueryResult.story_publish_timestamp}}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "story_publish_timestamp"))
                    }}:</span>
                  <span class="p-value">{{moment-format
                      xqlQueryResult.story_publish_timestamp
                      "MM-DD-YYYY HH:mm:ss z"
                      timeZone=timezone
                    }}</span>
                </div>
              {{/if}}

              <br />

              {{#if
                (and xqlQueryResult.agent_id (not (eq xqlQueryResult.agent_id "NULL")))
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "agent_id"))
                    }}:</span>
                  <span class="p-value">{{xqlQueryResult.agent_id}}</span>
                </div>
              {{/if}}
              {{#if
                (and
                  xqlQueryResult.agent_os_sub_type
                  (not (eq xqlQueryResult.agent_os_sub_type "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "agent_os_sub_type"))
                    }}:</span>
                  <span class="p-value">{{xqlQueryResult.agent_os_sub_type}}</span>
                </div>
              {{/if}}

              <br />

              {{#if
                (and
                  xqlQueryResult.dst_is_internal_ip
                  (not (eq xqlQueryResult.dst_is_internal_ip "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "dst_is_internal_ip"))
                    }}:</span>
                  <span class="p-value">{{xqlQueryResult.dst_is_internal_ip}}</span>
                </div>
              {{/if}}
              {{#if
                (and
                  xqlQueryResult.dst_association_strength
                  (not (eq xqlQueryResult.dst_association_strength "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "dst_association_strength"))
                    }}:</span>
                  <span class="p-value">{{xqlQueryResult.dst_association_strength}}</span>
                </div>
              {{/if}}

              <br />

              {{#if
                (and
                  xqlQueryResult.auth_client (not (eq xqlQueryResult.auth_client "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "auth_client"))
                    }}:</span>
                  <span class="p-value">{{xqlQueryResult.auth_client}}</span>
                </div>
              {{/if}}
              {{#if
                (and
                  xqlQueryResult.auth_identity
                  (not (eq xqlQueryResult.auth_identity "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "auth_identity"))
                    }}:</span>
                  <span class="p-value">{{xqlQueryResult.auth_identity}}</span>
                </div>
              {{/if}}
              {{#if
                (and
                  xqlQueryResult.auth_identity_display_name
                  (not (eq xqlQueryResult.auth_identity_display_name "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "auth_identity_display_name"))
                    }}:</span>
                  <span
                    class="p-value"
                  >{{xqlQueryResult.auth_identity_display_name}}</span>
                </div>
              {{/if}}
              {{#if
                (and
                  xqlQueryResult.auth_target (not (eq xqlQueryResult.auth_target "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "auth_target"))
                    }}:</span>
                  <span class="p-value">{{xqlQueryResult.auth_target}}</span>
                </div>
              {{/if}}
              {{#if
                (and
                  xqlQueryResult.auth_service
                  (not (eq xqlQueryResult.auth_service "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "auth_service"))
                    }}:</span>
                  <span class="p-value">{{xqlQueryResult.auth_service}}</span>
                </div>
              {{/if}}
              {{#if
                (and
                  xqlQueryResult.auth_server (not (eq xqlQueryResult.auth_server "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "auth_server"))
                    }}:</span>
                  <span class="p-value">{{xqlQueryResult.auth_server}}</span>
                </div>
              {{/if}}
              {{#if
                (and
                  xqlQueryResult.auth_outcome
                  (not (eq xqlQueryResult.auth_outcome "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "auth_outcome"))
                    }}:</span>
                  <span class="p-value">{{xqlQueryResult.auth_outcome}}</span>
                </div>
              {{/if}}
              {{#if
                (and
                  xqlQueryResult.auth_domain (not (eq xqlQueryResult.auth_domain "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "auth_domain"))
                    }}:</span>
                  <span class="p-value">{{xqlQueryResult.auth_domain}}</span>
                </div>
              {{/if}}
              {{#if
                (and
                  xqlQueryResult.auth_client_type
                  (not (eq xqlQueryResult.auth_client_type "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "auth_client_type"))
                    }}:</span>
                  <span class="p-value">{{xqlQueryResult.auth_client_type}}</span>
                </div>
              {{/if}}

              <br />

              {{#if
                (and
                  xqlQueryResult.sso_severity
                  (not (eq xqlQueryResult.sso_severity "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "sso_severity"))
                    }}:</span>
                  <span class="p-value">{{xqlQueryResult.sso_severity}}</span>
                </div>
              {{/if}}
              {{#if
                (and
                  xqlQueryResult.sso_display_message
                  (not (eq xqlQueryResult.sso_display_message "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "sso_display_message"))
                    }}:</span>
                  <span class="p-value">{{xqlQueryResult.sso_display_message}}</span>
                </div>
              {{/if}}
              {{#if
                (and
                  xqlQueryResult.sso_event_type
                  (not (eq xqlQueryResult.sso_event_type "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "sso_event_type"))
                    }}:</span>
                  <span class="p-value">{{xqlQueryResult.sso_event_type}}</span>
                </div>
              {{/if}}

              <br />

              {{#if
                (and
                  xqlQueryResult.action_local_ip
                  (not (eq xqlQueryResult.action_local_ip "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "action_local_ip"))
                    }}:</span>
                  <span class="p-value">{{xqlQueryResult.action_local_ip}}</span>
                </div>
              {{/if}}
              {{#if
                (and
                  xqlQueryResult.action_local_port
                  (not (eq xqlQueryResult.action_local_port "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "action_local_port"))
                    }}:</span>
                  <span class="p-value">{{xqlQueryResult.action_local_port}}</span>
                </div>
              {{/if}}
              {{#if
                (and
                  xqlQueryResult.action_remote_ip
                  (not (eq xqlQueryResult.action_remote_ip "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "action_remote_ip"))
                    }}:</span>
                  <span class="p-value">{{xqlQueryResult.action_remote_ip}}</span>
                </div>
              {{/if}}
              {{#if
                (and
                  xqlQueryResult.action_remote_port
                  (not (eq xqlQueryResult.action_remote_port "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "action_remote_port"))
                    }}:</span>
                  <span class="p-value">{{xqlQueryResult.action_remote_port}}</span>
                </div>
              {{/if}}
              {{#if
                (and
                  xqlQueryResult.action_user_agent
                  (not (eq xqlQueryResult.action_user_agent "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "action_user_agent"))
                    }}:</span>
                  <span class="p-value">{{xqlQueryResult.action_user_agent}}</span>
                </div>
              {{/if}}
              {{#if
                (and
                  xqlQueryResult.action_country
                  (not (eq xqlQueryResult.action_country "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "action_country"))
                    }}:</span>
                  <span class="p-value">{{xqlQueryResult.action_country}}</span>
                </div>
              {{/if}}
              {{#if
                (and
                  xqlQueryResult.action_total_download
                  (not (eq xqlQueryResult.action_total_download "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "action_total_download"))
                    }}:</span>
                  <span class="p-value">{{xqlQueryResult.action_total_download}}</span>
                </div>
              {{/if}}
              {{#if
                (and
                  xqlQueryResult.action_total_upload
                  (not (eq xqlQueryResult.action_total_upload "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "action_total_upload"))
                    }}:</span>
                  <span class="p-value">{{xqlQueryResult.action_total_upload}}</span>
                </div>
              {{/if}}
              {{#if
                (and
                  xqlQueryResult.action_network_is_ipv6
                  (not (eq xqlQueryResult.action_network_is_ipv6 "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "action_network_is_ipv6"))
                    }}:</span>
                  <span class="p-value">{{xqlQueryResult.action_network_is_ipv6}}</span>
                </div>
              {{/if}}
              {{#if
                (and
                  xqlQueryResult.action_network_stats_is_last
                  (not (eq xqlQueryResult.action_network_stats_is_last "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "action_network_stats_is_last"))
                    }}:</span>
                  <span
                    class="p-value"
                  >{{xqlQueryResult.action_network_stats_is_last}}</span>
                </div>
              {{/if}}
              {{#if
                (and
                  xqlQueryResult.action_network_creation_time
                  (not (eq xqlQueryResult.action_network_creation_time "NULL"))
                )
              }}
                <div>
                  <span class="p-key">{{titleize
                      (humanize (dasherize "action_network_creation_time"))
                    }}:</span>
                  <span class="p-value">{{moment-format
                      xqlQueryResult.action_network_creation_time
                      "MM-DD-YYYY HH:mm:ss z"
                      timeZone=timezone
                    }}</span>
                </div>
              {{/if}}
            </div>
          {{/each}}
        </div>
      {{/if}}
    {{/if}}
  </div>
{{/if}}