<div>
  <h1 class="p-title">
    {{fa-icon icon="bug" fixedWidth=true}}
    {{vulnerability.id}}
    Details
  </h1>

  <div class="p-link">
    <a href="https://nvd.nist.gov/vuln/detail/{{vulnerability.id}}">View Vulnerability in
      NVD
      {{fa-icon "external-link-square" class="external-link-icon" fixedWidth=true}}</a>
  </div>

  {{#if vulnerability.vulnStatus}}
    {{#if (eq vulnerability.vulnStatus "Modified")}}
      <div class="hoverable-message" title={{modifiedMessage}}>
        <span class="p-key">{{fa-icon icon="info" fixedWidth=true}}Status:</span>
        <span class="p-value">{{vulnerability.vulnStatus}}</span>
      </div>
    {{else}}
      <div>
        <span class="p-key">Status:</span>
        <span class="p-value">{{vulnerability.vulnStatus}}</span>
      </div>
    {{/if}}
  {{/if}}
  {{#if vulnerability.description}}
    <div>
      <span class="p-key">Description:</span>
      <span class="p-block">{{vulnerability.description}}</span>
    </div>
  {{/if}}

  <div class="p-link">
    <a href="https://www.cve.org/CVERecord?id={{vulnerability.id}}">View CVE Dictionary
      Entry
      {{fa-icon "external-link-square" class="external-link-icon" fixedWidth=true}}</a>
  </div>
  {{#if vulnerability.published}}
    <div>
      <span class="p-key">NVD Published Date:</span>
      <span class="p-value">{{moment-format
          vulnerability.published
          "MM-DD-YYYY"
          timeZone=timezone
        }}</span>
    </div>
  {{/if}}
  {{#if vulnerability.lastModified}}
    <div>
      <span class="p-key">NVD Last Modified:</span>
      <span class="p-value">{{moment-format
          vulnerability.lastModified
          "MM-DD-YYYY"
          timeZone=timezone
        }}</span>
    </div>
  {{/if}}
  {{#if vulnerability.sourceIdentifier}}
    <div>
      <span class="p-key">Source Identifier:</span>
      <span class="p-value">{{vulnerability.sourceIdentifier}}</span>
    </div>
  {{/if}}
  {{#if vulnerability.hasMetrics}}
    {{#if (get expandableTitleStates "severity")}}
      <a
        class="expandable-title"
        {{on "click" (action "toggleExpandableTitle" "severity")}}
      >
        <span class="text">Severity</span>
        {{fa-icon "angle-up"}}
      </a>
      <div class="ml-2 versioned-severities">
        {{#each-in vulnerability.metrics as |_ versionedSeverities|}}
          <div class="severities">
            <h2 class="mt-2">CVSS
              {{get versionedSeverities "0.cvssData.version"}}
              Severity and Metrics:</h2>
            {{#each versionedSeverities as |severity|}}
              <div class="mb-2 description">
                <div>
                  <span class="p-key">Source: </span>
                  <span class="p-value">{{severity.source}}</span>
                </div>
                <div>
                  <span class="p-key">Base Score: </span>
                  <span class="p-value">{{severity.cvssData.baseScore}}
                    {{baseScore.baseSeverity}}</span>
                </div>
                <div>
                  <span class="p-key">Exploitability Score: </span>
                  <span class="p-value">{{severity.exploitabilityScore}}</span>
                </div>
                <div>
                  <span class="p-key">Impact Score: </span>
                  <span class="p-value">{{severity.impactScore}}</span>
                </div>

                <div>
                  <span class="p-key">Vector: </span>
                  <span class="p-value">{{severity.cvssData.vectorString}}</span>
                </div>
                {{#if severity.cvssData.attackVector}}
                  <div>
                    <span class="p-key">Attack Vector: </span>
                    <span class="p-value">{{severity.cvssData.attackVector}}</span>
                  </div>
                {{/if}}
                {{#if severity.cvssData.attackComplexity}}
                  <div>
                    <span class="p-key">Attack Complexity: </span>
                    <span class="p-value">{{severity.cvssData.attackComplexity}}</span>
                  </div>
                {{/if}}
                {{#if severity.cvssData.accessVector}}
                  <div>
                    <span class="p-key">Access Vector: </span>
                    <span class="p-value">{{severity.cvssData.accessVector}}</span>
                  </div>
                {{/if}}
                {{#if severity.cvssData.accessComplexity}}
                  <div>
                    <span class="p-key">Access Complexity: </span>
                    <span class="p-value">{{severity.cvssData.accessComplexity}}</span>
                  </div>
                {{/if}}
                {{#if severity.cvssData.authentication}}
                  <div>
                    <span class="p-key">Authentication: </span>
                    <span class="p-value">{{severity.cvssData.authentication}}</span>
                  </div>
                {{/if}}
              </div>
            {{/each}}
          </div>
        {{/each-in}}
      </div>
    {{else}}
      <a
        class="expandable-title"
        {{on "click" (action "toggleExpandableTitle" "severity")}}
      >
        <span class="text">Severity</span>
        {{fa-icon "angle-down"}}
      </a>
    {{/if}}
  {{/if}}

  {{#if vulnerability.references.length}}
    {{#if (get expandableTitleStates "references")}}
      <a
        class="expandable-title"
        {{on "click" (action "toggleExpandableTitle" "references")}}
      >
        <span class="text">References to Advisories, Solutions, and Tools</span>
        {{fa-icon "angle-up"}}
      </a>
      <div class="ml-2 links">
        <div class="mb-1 hoverable-message" title={{linkWarningMessage}}>
          {{fa-icon icon="info" fixedWidth=true}}NIST does not necessarily endorse...
        </div>
        {{#each vulnerability.references as |reference|}}
          <div class="mb-1 description">
            <div>
              <span class="p-key">Link: </span>
              <span class="p-value"><a href={{reference.url}}>{{reference.url}}
                  {{fa-icon
                    "external-link-square"
                    class="external-link-icon"
                    fixedWidth=true
                  }}</a></span>
            </div>
            {{#if reference.tags.length}}
              <div>
                <span class="p-key">Resources: </span>
                <span class="p-value">{{join ", " reference.tags}}</span>
              </div>
            {{/if}}
          </div>
        {{/each}}
      </div>
    {{else}}
      <a
        class="expandable-title"
        {{on "click" (action "toggleExpandableTitle" "references")}}
      >
        <span class="text">References to Advisories, Solutions, and Tools</span>
        {{fa-icon "angle-down"}}
      </a>
    {{/if}}
  {{/if}}

  {{#if vulnerability.weaknesses.length}}
    {{#if (get expandableTitleStates "weaknesses")}}
      <a
        class="expandable-title"
        {{on "click" (action "toggleExpandableTitle" "weaknesses")}}
      >
        <span class="text">Weakness Enumeration</span>
        {{fa-icon "angle-up"}}
      </a>
      <div class="ml-2 weaknesses">
        {{#each vulnerability.weaknesses as |weakness|}}
          <div class="mb-1 weakness">
            {{#if (eq weakness.cwe "NVD-CWE-noinfo")}}
              <div>
                <span class="p-key">CWE-ID: </span>
                <span class="p-value">{{weakness.cwe}}</span>
              </div>
            {{else}}
              <div>
                <span class="p-key">CWE-ID: </span>
                <span class="p-value"><a
                    href="https://cwe.mitre.org/cgi-bin/jumpmenu.cgi?id={{weakness.cwe}}"
                  >{{weakness.cwe}}
                    {{fa-icon
                      "external-link-square"
                      class="external-link-icon"
                      fixedWidth=true
                    }}</a></span>
              </div>
            {{/if}}
            <div>
              <span class="p-key">Source: </span>
              <span class="p-value">{{weakness.source}}</span>
            </div>
          </div>
        {{/each}}
      </div>
    {{else}}
      <a
        class="expandable-title"
        {{on "click" (action "toggleExpandableTitle" "weaknesses")}}
      >
        <span class="text">Weakness Enumeration</span>
        {{fa-icon "angle-down"}}
      </a>
    {{/if}}
  {{/if}}

  {{#if vulnerability.affectedSoftwareConfigurations.length}}
    {{#if (get expandableTitleStates "affectedSoftwareConfigurations")}}
      <a
        class="expandable-title"
        {{on "click" (action "toggleExpandableTitle" "affectedSoftwareConfigurations")}}
      >
        <span class="text">Known Affected Software Configurations</span>
        {{fa-icon "angle-up"}}
      </a>
      <div class="ml-2 affected-software-configurations">
        {{#each
          vulnerability.affectedSoftwareConfigurations
          as |affectedSoftwareConfigurations index|
        }}
          <div class="mb-1 affected-software-configuration">
            <h2 class="mt-2">Configuration {{add index 1}}</h2>
            {{#each affectedSoftwareConfigurations as |affectedSoftwareConfiguration|}}
              <div class="mb-2 affected-software">
                <div>
                  <span class="p-key">CPE: </span>
                  <span class="p-value">{{affectedSoftwareConfiguration.criteria}}</span>
                </div>
                {{#if affectedSoftwareConfiguration.versionEndIncluding}}
                  <div>
                    <span class="p-key">Up to (including): </span>
                    <span
                      class="p-value"
                    >{{affectedSoftwareConfiguration.versionEndIncluding}}</span>
                  </div>
                {{/if}}
              </div>
            {{/each}}
          </div>
        {{/each}}
      </div>
    {{else}}
      <a
        class="expandable-title"
        {{on "click" (action "toggleExpandableTitle" "affectedSoftwareConfigurations")}}
      >
        <span class="text">Known Affected Software Configurations</span>
        {{fa-icon "angle-down"}}
      </a>
    {{/if}}
  {{/if}}
</div>